<yacg>
<events>
  <event year="-3100" data="Skara Brae construction is finished in @."/>
  <event year="-3000" data="First papyrus usage in @."/>
  <event year="-2800" data="Lothagan Pillar Site is built in # in @."/>
  <event year="-2560" data="Gread Pyramid of # is built in @."/>
  <event year="-2500" data="Last mammoth is killed in @."/>
  <event year="-2200" data="Stonhenge is finished near # in @."/>
  <event year="-1795" data="Gilgamesh Epic has been written in @."/>
  <event year="-1780" data="Code of Laws is completed in @."/>
  <event year="-1500" data="Rig Veda has been written in @."/>
  <event year="-1050" data="Inhabitants of @ use phoenician alphabet."/>
  <event year="-890" data="Homer writes Illiad and Odyssey in @."/>
  <event year="-776" data="First Olympic Games take place in #."/>
  <event year="-563" data="Buddha is born in # in @."/>
  <event year="-551" data="Confucius is born in # in @."/>
  <event year="-549" data="Mahavira, the founder of jainism is born in #."/>
  <event year="-500" data="Inhabitants of @ use classical sanskrit."/>
  <event year="-470" data="Sokrates is born in #."/>
  <event year="-432" data="Parthenon is built in @ near #."/>
  <event year="-300" data="Mathemathicians in @ start using zero sign."/>
  <event year="-4" data="Jesus is born in @ near #."/>
  <event year="34" data="Jesus dies."/>
  <event year="79" data="Vesuvius explodes near #."/>
  <event year="405" data="Bible is translated to latin in @."/>
  <event year="570" data="Muhammad is born in # in @."/>
  <event year="604" data="Grand Canal is completed in @."/>
  <event year="622" data="Muhammad migrates to #."/>
  <event year="820" data="Al-Khwarizmi writes Algebra in #."/>
  <event year="868" data="First printed book - Diamond Sutra is made in @."/>
  <event year="1021" data="The Tale of Genji - first novel is written in @."/>
  <event year="1050" data="Westminster Abbey is built near # in @."/>
  <event year="1086" data="Domesday Book is finished in @."/>
  <event year="1117" data="Oxford University opens in #."/>
  <event year="1193" data="First merchant guild is created in @."/>
  <event year="1274" data="Thomas Aquinas publishes Summa Theologica in # in @."/>
  <event year="1298" data="Marco Polo publishes his Tales about his travels to @."/>
  <event year="1310" data="Dante Alighieri completes Divine Comedy in @."/>
  <event year="1381" data="Bible is translated into english in @."/>
  <event year="1492" data="Christopher Columbus reaches @."/>
  <event year="1506" data="Da Vinci paints Mona Lisa in #."/>
  <event year="1572" data="Sonam Gyatso becomes first Dalai Lama."/>
  <event year="1597" data="Romeo and Juliet is first played in #."/>
  <event year="1641" data="Rene Descartes publishes Meditations on First Philosophy in #."/>
  <event year="1675" data="Greenwich Observatory is completed ner # in @."/>
  <event year="1687" data="Isaac Newton discovers gravity."/>
  <event year="1707" data="Mount Fuji explodes near #."/>
  <event year="1750" data="Little Ice Age begins."/>
  <event year="1776" data="Adam Smith publishes The Wealth of Nations in @."/>
  <event year="1789" data="Human Rights Declaration is written in @ and signed in #."/>
  <event year="1807" data="Humphry Davy isolates Sodium."/>
  <event year="1818" data="Mary Shelby writes Frankenstein in #."/>
  <event year="1827" data="Bethoveen dies in #."/>
  <event year="1829" data="Faust is first played in #."/>
  <event year="1851" data="First Great Exhibition in # in @."/>
  <event year="1872" data="First modern soccer match is played in @."/>
  <event year="1883" data="Krakatoa explodes near #."/>
</events>
</yacg>
