window
{
  background-image: url("window-background.png");
  font: 18px "Connection II";
}

box *
{
  background-image: url("button-background.png");
}

dialog
{
  background-image: url("window-background.png");
  font: 18px "Connection II";
}
