
window
{
  background-image: url("window-background.png");
  font: 18px "Connection II";
  color: #ffffff;
}

box *
{
  background-image: url("button-background.png");
  border-radius: 0px;
  color: #ffffff;
}

button:hover
{
  box-shadow: 6px 6px #936D2F inset;
  color: yellow;
}

spinbutton *
{
  background-image: url("combo-background.png");
}

dialog
{
  background-image: url("dialog-background.png");
  font: 18px "Connection II";
  color: #ffffff;
}

*:disabled
{
  color: red;
}

combobox *
{
  color: #ff0000;
}

.small_label
{
  font: 10px "Connection II";
}

.medium_label
{
  font: 13px "Connection II";
}

.big_label
{
  font: 22px "Connection II";
}
